<section class="loginForm mt-3 p-3 d-flex align-items-center flex-column">
    <h3>Formulario ingreso</h3>
    <form class="d-flex flex-column col-3" novalidate [formGroup]="formularioIngreso"
        (ngSubmit)="ingresar()">
        <input placeholder="Usuario" type="text" formControlName="usuario">
        <input placeholder="Contraseña" type="password" formControlName="password">

        <div class="d-flex justify-content-around">
            <button type="button" (click)="cancelarFormularioLogin();">Cancelar</button>
            <button [disabled]="formularioIngreso.invalid">Ingresar</button>
        </div>
    </form>
</section>